body {
    font-family: sans-serif;
    background: #e5e5e5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.app {
    width: 300px;
    height: 500px;
    border: 2px solid #abcea1;
    border-radius: 8px;
    padding: 15px;
    background: #fff;
    /* make page to overflow */
    overflow-y: scroll;
}

/* hide scroll */
.app::-webkit-scrollbar { 
    width: 0 !important
}

#addNew {
    display: flex;
    background-color: rgba(171, 206, 161, 0.35);
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-plus {
background-color:  #abcea1;
padding: 3px;
border-radius: 3px;
}

#tasks {
    display: grid;
    gap: 20px;
}

#tasks div{
    background-color: #e2eede;
    /* border: 3px solid #abcea1; */
    padding: 5px;
    border-radius: 6px;
}

.options {
    justify-content: center;
    display: flex;
    gap: 15px;
}

.options i {
    cursor: pointer;
}

#msg {
    color: red;
}

.about {
    border: none; 
    border-radius: 4px;
    /* margin-left: 190px; */
    float: right;
    margin-top: -40px;
}